# Ignore the files generate the program
*.csv
*.txt
# Default ignored files
.idea/shelf/
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests/
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml

/out/
/Users/ethan/Documents/GitHub/CS180-PJ-5/Test
.DS_Store
Test/.DS_Store